
/* #dropdownMenuLink{
    z-index: 99;
} */
#searchInput{
    transform: translateX(-60px);
    opacity: .1;
    z-index: -1;
}

.animation{
    transform: translateX(0px) !important;
    opacity: 1 !important;
    z-index: 9 !important;
    transition: transform .5s ease-in-out;
    border: solid 2px purple !important;
}
.btnAnim{
    background-color: purple !important;
    color: #fff !important;
    border: solid 1px purple !important;
    transition: background-color .5s ease-in-out;
}